# Ouvre ton .gitignore et remplace-le par ça :
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
strava_activity_summaries.json
app.py
app_dash_old*.py
strava_analyzer_old.py
test_strava_api.py
strava_analyser_test.py
Workspace_all_activities.py